:root{
    --PRIMARY: none;
    --PRIMARYalpha: none;
    --PRIMARYlowAlpha: none;
    --SECONDARY: none;
}

html{
    scroll-behavior: smooth;
    overflow-x:visible;
}

body{ 
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--PRIMARY);
    background-image:url("background/bng.jpeg"), linear-gradient(var(--PRIMARY) 0 100%);
    background-blend-mode:soft-light, normal;
    background-attachment:fixed;
    background-position: center;
    background-size:contain;
    margin:0;
}

#loading-cover{
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 200%;
    background-color: white;
    transition: none;
    opacity: 0;
    pointer-events: none;
}

#menu-button-area{
    position: fixed;
    top: 0;
    z-index: 400;
    background-color: var(--PRIMARY);
    width:100%;
    height: fit-content;
    pointer-events: all;
}

#side-menu-button{
    z-index: 300;
    top:0;
    margin: 5px;
    padding:0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 35pt;
    font-weight: 400;
    color: var(--SECONDARY);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    pointer-events: all;
}

#side-menu{
    zoom:100%;
    position: fixed;
    background-color: var(--PRIMARYlowAlpha);
    top:0;
    left:0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    width: 300px;
    height: 100%;
    z-index: 200;
    padding-top: 90px;
    padding-left: 20px;
    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    pointer-events: none;
}

#side-menu::-webkit-scrollbar {
  display: none;
}

#side-menu-text{
    color: var(--SECONDARY);
    position: relative;
    pointer-events: all;
    padding-bottom: calc(5vw + 600px);
}

.menu-option{
    position: relative;
    display: block;
    transition: padding-left 0.2s;
    margin-bottom: 10px;
    word-break: keep-all;
}

#type0{
    position: relative;
    height: 1px;
    background-color: var(--SECONDARY);
    margin-top: 15px;
    margin-bottom: 15px;
    width:275px;
}
#type-dark-mode{
    font-size: 1em;
}
#type1{
    font-size: 1.25em;
}
#type2{
    font-size: 0.8em;
}

.menu-option:hover{
    padding-left:30px;
}
#type-dark-mode:hover{
    padding-left:10px;
}
#type0:hover{
    padding-left:0px;
}

.center{
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: calc(5vw + 600px);
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    text-align: center;
    position: relative;
    font-size: 45pt;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top:40px;
    padding-bottom: 60px;
    width: max-content;
}

h2{
    position: relative;
    font-size: 35pt;
    font-weight: 400;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:10px;
    padding-bottom: 10px;
}

h3{
    position: relative;
    font-size: 20pt;
    font-weight: 300;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:10px;
    padding-bottom: 10px;
}

.ja-text{
    position: relative;
}

.ja-screen{
    position: relative;
    border-radius: 2px;
}

table .ja-screen{
    font-size: 25pt;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
    width: auto;
    --width: 50px;
    min-width: var(--width);
    line-height: var(--width);
    padding: 12px;
    margin:-2px;
    position: relative;
    border-radius: 1px;
    white-space: nowrap;
}

table .ja-screen.singleKana{
    aspect-ratio: 1/1;
}

table .ja-screen.doubleKana, .ja-screen.moreParticle{
    padding-left: 18px;
    padding-right: 18px;
}

.particle-area .ja-screen{
    aspect-ratio: none;

}

.ja-screen:hover > th:not(:empty), .ja-screen:hover{
    color: var(--PRIMARY);
    background-color: var(--SECONDARY) !important;
}

.ja-popup{
    color: var(--SECONDARY);
    background-color: var(--PRIMARY) !important;
    position: absolute;
    font-size: 18pt;
    border: 2px var(--SECONDARY) solid;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    aspect-ratio: none;
    line-height: 100%;
    pointer-events: none;
    z-index: 100;
}
h1 .ja-popup{
    font-size: 25pt;
}
h2 .ja-popup{
    font-size: 22pt;
}

table {
    border-collapse: separate;
    margin-bottom: 50px;
}

td, th {
    font-size: 20pt;
    text-align: center;
    width: 1fr;
}

th:not(:empty){
    border: 1px var(--SECONDARY) solid ;
    border-radius: 2px;
    color: var(--SECONDARY);
    background-color: var(--PRIMARYalpha);
}

#particle-title{
    padding-bottom: 0px;
}

.particles h3{
    margin-top: 25px;
    padding-bottom: 0px;
}

#case-particles{
    margin-top: 0px;
    padding-bottom: 0px;
}

.descriptor{
    font-size: 15pt;
    font-family: "ＭＳ Ｐゴシック";
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    width: 750px;
    padding: 5px;
    background-color: var(--PRIMARYalpha);
    border: 1px var(--SECONDARY) solid;
}

.particle-container{
    display: grid;
    grid-template-columns: repeat(3, 325px);
    column-gap: 10px;
    row-gap: 10px;
}

main{
    border: 2px var(--SECONDARY) solid;
    background-color: var(--PRIMARYalpha);
}

main::after {
  content: "";
  display: block;
  clear: both;
}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

main table{
    position: relative;
    margin: 0;
}

.particle-area{
    float: left;
    width: min-content;
    height: min-content;
    padding: 12px 10px 8px 12px;
}

main td:not(:empty), main th:not(:empty){
    background-color: rgba(0, 0, 0, 0) ;
}

main p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 12px;
    font-size: 15pt;
    font-family: "ＭＳ Ｐゴシック";
    color: var(--SECONDARY);
    word-break: keep-all;
    text-align:justify;
}

.hiragana, .katakana{
    position: relative;
    margin-bottom: 60px;
}

@media (pointer:coarse) {
    html{
        zoom:28%;
    }

    #side-menu-button{
        font-size: 82pt;
        padding: 25px;
        padding-left: 45px;
    }

    #side-menu{
        padding-top: 225px;
        width: 900px;
        height: 110%;
        padding-left: 40px;
    }

    #side-menu-text{
        padding-bottom: calc(5vw + 1850px);
    }

    .menu-option{
        position: relative;
        display: block;
        transition: padding-left 0.2s;
        margin-bottom: 20px;
        padding:5px;
        word-break: keep-all;
    }

    #type1{
        font-size: 3.0em;
    }
    #type2{
        font-size: 1.8em;
    }

    .menu-option:hover{
        padding-left:60px;
    }

    .center{
        margin-top: calc(22vw + 200px);
        margin-bottom: calc(22vw + 1800px);
    }

    td:not(:empty), th:not(:empty){
        border: 3px var(--SECONDARY) solid ;
        color: var(--SECONDARY);
        background-color: var(--PRIMARY);
    }

    table span.rb{
        font-size: 30pt;
        padding: 15px !important;
    }

    .upop.ja-text.transition{
        font-size: 24pt;
    }

    .particle-container{
        margin-top: 8px;
        grid-template-columns: repeat(3, 400px);
        column-gap: 25px;
        row-gap: 25px;
    }

    .hint-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .hint-text{
        padding:0;
        font-size: 15pt;
        font-weight: 1000;
        border: 4px var(--SECONDARY) solid;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    }

    .hiragana, .katakana{
        margin-bottom: 150px;
    }

    h1{
        font-size: 65pt;

    }
    h1 div {
        padding-top: 20px;
    }

    h2{
        margin-top: 50px;
        font-size: 45pt;
        margin-bottom: 5px;
    }
    h3{
        font-size: 32.5pt;
        padding-top: 30px;
    }

    .descriptor{
        font-size: 25pt;
        width:1210px;
        padding: 15px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        border: 3px var(--SECONDARY) solid;
    }

    main table span.rb{
        padding: 25px !important;
        font-size: 40pt;
    }

    .particle-area {
        font-size: 100pt !important;
    }

    main{
        border: 3px var(--SECONDARY) solid !important;
    }

    main p{
        font-size: 20pt;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    }

}