:root{
    --PRIMARY: none;
    --PRIMARYalpha: none;
    --PRIMARYlowAlpha: none;
    --SECONDARY: none;
}

html{
    scroll-behavior: smooth;
    overflow-x:visible;
}

body{ 
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--PRIMARY);
    background-image:url("bng.jpeg"), linear-gradient(var(--PRIMARY) 0 100%);
    background-blend-mode:soft-light, normal;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    margin:0;
}

#menu-button-area{
    position: fixed;
    top: 0;
    z-index: 400;
    background-color: var(--PRIMARY);
    width:100%;
    height: fit-content;
}

#side-menu-button{
    z-index: 300;
    top:0;
    vertical-align: top;
    margin: 5px;
    padding:0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 35pt;
    font-weight: 400;
    color: var(--SECONDARY);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#side-menu{
    zoom:100%;
    position: fixed;
    background-color: var(--PRIMARYlowAlpha);
    top:0;
    left:0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    width: 300px;
    height: 100%;
    z-index: 200;
    padding-top: 90px;
    padding-left: 20px;
    /* animation-name: open-side-menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; */
}

#side-menu-text{
    color: var(--SECONDARY);
    position: relative;
    
}

.menu-option{
    position: relative;
    display: block;
    transition: padding-left 0.2s;
    margin-bottom: 10px;
    word-break: keep-all;
}

#type1{
    font-size: 1.25em;
}
#type2{
    font-size: 0.8em;
}

.menu-option:hover{
    padding-left:30px;
}

.center{
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 6vh;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    text-align: center;
    position: relative;
    font-size: 35pt;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top:40px;
    padding-bottom: 60px;
    width: max-content;
}

h1 div{
    padding-top: 15px;
}

.hint-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hint-text{
    text-align: center;
    padding:0;
    font-size: 10pt;
    font-family: "ＭＳ Ｐゴシック";
    border: 2px var(--SECONDARY) solid;
    background-color: var(--PRIMARYalpha);
    margin: 10px;
    padding: 10px;
}

h2{
    position: relative;
    font-size: 25pt;
    font-weight: 400;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:10px;
    padding-bottom: 10px;
}

h3{
    position: relative;
    font-size: 20pt;
    font-weight: 300;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:10px;
    padding-bottom: 10px;
}

table {
    margin-left: 5px;
    border-collapse: separate;
    margin-bottom: 50px;
}

td, th {
    font-size: 20pt;
    text-align: center;
    border-radius: 2px;
}

td:not(:empty), th:not(:empty){
    border: 1px var(--SECONDARY) solid ;
    color: var(--SECONDARY);
    background-color: var(--PRIMARYalpha);
}

ruby.popups{
    margin: -2px;
    border-radius: 2px !important;
    transition: none;
}

table ruby.popups{
    border-radius: 0px !important;
}

ruby.popups.hover{
    color: var(--PRIMARY);
    background-color: var(--SECONDARY) !important;
    border: 1px rgba(0, 0, 0, 0) solid !important;
    transition: none !important;
}

table ruby.popups.hover{
    width: 100%
}

.upop.ja-text.transition{
    border: 1px var(--SECONDARY) solid;
    z-index: 100;
    padding: 5px;
    font-weight: 600;
    background-color: var(--PRIMARY);
    color: var(--SECONDARY);
    transition: none;
}

.line{
    display: none;
}

span.rt{
    display: none !important; 
    margin: 0;
}

span.rb{
    padding: 3px !important;
    border-radius: 2px;
}

table span.rb{
    padding: 15.75px !important;
}

#particle-title{
    padding-bottom: 0px;
}

.particles h3{
    margin-top: 25px;
    padding-bottom: 0px;
}

#case-particles{
    margin-top: 0px;
    padding-bottom: 0px;
}

.descriptor{
    font-size: 15pt;
    font-family: "ＭＳ Ｐゴシック";
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    width: 750px;
    padding: 5px;
    background-color: var(--PRIMARYalpha);
    border: 1px var(--SECONDARY) solid;
}

.particle-container{
    display: grid;
    grid-template-columns: repeat(3, 325px);
    column-gap: 10px;
    row-gap: 10px;
}

main{
    border: 2px var(--SECONDARY) solid;
    background-color: var(--PRIMARYalpha);
}

main::after {
  content: "";
  display: block;
  clear: both;
}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

main table{
    position: relative;
    margin: 0;
}

.particle-area{
    float: left;
    width: min-content;
    height: min-content;
    padding: 12px 10px 8px 12px;
}

main td:not(:empty), main th:not(:empty){
    background-color: rgba(0, 0, 0, 0) ;
}

main table span.rb{
    font-size: 25pt;
}

main p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 12px;
    font-size: 15pt;
    font-family: "ＭＳ Ｐゴシック";
    color: var(--SECONDARY);
    word-break: keep-all;
    text-align:justify;
}

.hiragana, .katakana{
    position: relative;
    margin-bottom: 60px;
}

@media (pointer:coarse) {
    html{
        zoom:30%;
    }

    .center{
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    td:not(:empty), th:not(:empty){
        border: 3px var(--SECONDARY) solid ;
        color: var(--SECONDARY);
        background-color: var(--PRIMARY);
    }

    table span.rb{
        font-size: 30pt;
        padding: 15px !important;
    }

    .upop.ja-text.transition{
        font-size: 24pt;
    }

    .particle-container{
        grid-template-columns: repeat(3, 400px);
        column-gap: 25px;
        row-gap: 25px;
    }

    .hint-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .hint-text{
        padding:0;
        font-size: 15pt;
        font-weight: 1000;
        border: 4px var(--SECONDARY) solid;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    }

    h1{
        font-size: 65pt;
    }
    h1 div {
        padding-top: 20px;
    }

    h2{
        font-size: 45pt;
        margin-bottom: 5px;
    }
    h3{
        font-size: 32.5pt;
    }

    .descriptor{
        font-size: 20pt;
        width:1210px;
        padding: 10px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        border: 3px var(--SECONDARY) solid;
    }

    main table span.rb{
        padding: 25px !important;
        font-size: 40pt;
    }

    .particle-area {
        font-size: 100pt !important;
    }

    main{
        border: 3px var(--SECONDARY) solid !important;
    }

    main p{
        font-size: 18pt;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    }

}