:root{
    --PRIMARY: none;
    --PRIMARYalpha: none;
    --PRIMARYlowAlpha: none;
    --SECONDARY: none;
}

html{
    scroll-behavior: smooth;
    overflow-x:visible;
}

body{ 
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--PRIMARY);
    background-image:url("background/konbiniDesktop.png"), linear-gradient(var(--PRIMARY) 0 100%);
    background-blend-mode:soft-light, normal;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin:0;
}

#loading-cover{
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 200%;
    background-color: white;
    transition: none;
    opacity: 0;
    pointer-events: none;
}

#menu-button-area{
    position: fixed;
    top: 0;
    z-index: 400;
    background-color: var(--PRIMARY);
    width:100%;
    height: fit-content;
    pointer-events: all;
}

#side-menu-button{
    z-index: 300;
    top:0;
    margin: 5px;
    padding:0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 35pt;
    font-weight: 400;
    color: var(--SECONDARY);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    pointer-events: all;
}

#side-menu{
    zoom:100%;
    position: fixed;
    background-color: var(--PRIMARYlowAlpha);
    top:0;
    left:0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    min-width: 300px;
    height: 100%;
    z-index: 200;
    padding-top: 90px;
    padding-left: 20px;
    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    pointer-events: none;
}

#side-menu::-webkit-scrollbar {
  display: none;
}

#side-menu-text{
    color: var(--SECONDARY);
    position: relative;
    pointer-events: all;
    padding-bottom: calc(5vw + 600px);
}

.menu-option{
    position: relative;
    display: block;
    transition: padding-left 0.2s ,padding-right 0.2s;
    margin-bottom: 10px;
    word-break: keep-all;
    white-space: nowrap;
    padding-right:0px;
}

.type0{
    position: relative;
    height: 1px;
    background-color: var(--SECONDARY);
    margin-top: 15px;
    margin-bottom: 15px;
    width:275px;
}
.type-function{
    font-size: 1em;
    padding-right:10px;
}
.type1{
    font-size: 1.25em;
    padding-right:30px;
}
.type2{
    font-size: 0.8em;
    padding-right:30px;
}

.menu-option:hover{
    padding-left:30px;
    padding-right:0px !important;
}
.type0:hover{
    padding-left:0px;
    padding-right:0px;
}

.center{
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: calc(3vw + 65px);
    margin-bottom: calc(5vw + 600px);
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    text-align: center;
    position: relative;
    font-size: 50pt;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top:50px;
    padding-bottom: 1vw;
    width: max-content;
}
#intro-text-title{
    padding: 0;
    padding-top: 10px;
    font-weight: 500;
}
#intro-text-title .ja-screen{
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
#intro-text{
    width: 1000px;
    padding: 8px;
    word-break: keep-all;
    font-size: 12pt;
    font-weight: 400;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: justify;
}
.space{
    height: 12px;
}

h2{
    position: relative;
    font-size: 35pt;
    font-weight: 400;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:10px;
    padding-bottom: 10px;
}

h3{
    position: relative;
    font-size: 25pt;
    font-weight: 300;
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:10px;
    padding-bottom: 10px;
}

.ja-text{
    position: relative;
}

.ja-screen{
    position: relative;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    display:inline-block;
}

table .ja-screen{
    font-size: 25pt;
    width: auto;
    --width: 50px;
    min-width: var(--width);
    line-height: var(--width);
    padding: 12px;
    margin:-2px;
    position: relative;
    border-radius: 2px;
    white-space: nowrap;
}

table .ja-screen.singleKana{
    aspect-ratio: 1/1;
}

table .ja-screen.doubleKana, .ja-screen.moreParticle{
    padding-left: 18px;
    padding-right: 18px;
}

.particle-area .ja-screen{
    aspect-ratio: none;

}

.ja-screen:hover{
    color: var(--PRIMARY);
    background-color: var(--SECONDARY) !important;
}
h3 .ja-screen:hover {
    font-weight: 500;
}

.ja-popup{
    color: var(--SECONDARY);
    background-color: var(--PRIMARY) !important;
    position: absolute;
    display: none;
    font-size: 18pt;
    border: 2px var(--SECONDARY) solid;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    aspect-ratio: none;
    line-height: 100%;
    pointer-events: none;
    z-index: 100;
    min-width: 100%;
    left:50%;
    transform: translateX(-50%);
    
}
h1 .ja-popup{
    top: -42px;
    padding: 8px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 28pt;
}
h2 .ja-popup{
    top: -34px;
    font-size: 22pt;
    padding: 6px;
    padding-top:8px;
    padding-bottom: 8px;
}
h3 .ja-popup{
    top: -34px;
    font-size: 18pt;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
table .ja-popup{
    top:-25px;
    font-size: 18pt;
    padding-top:6px;
    padding-bottom: 6px;
}

table {
    border-collapse: separate;
    margin-bottom: 50px;
}

td, th {
    font-size: 20pt;
    text-align: center;
    width: 1fr;
}

th:not(:empty){
    border: 1px var(--SECONDARY) solid ;
    border-radius: 2px;
    color: var(--SECONDARY);
    background-color: var(--PRIMARYalpha);
}

#particle-title{
    padding-bottom: 0px;
}

.particles h3{
    padding-top:25px;
    padding-bottom: 0px;
}

.descriptor{
    font-size: 15pt;
    font-family: "ＭＳ Ｐゴシック";
    color: var(--SECONDARY);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-left: 5px;
    width: 900px;
    padding: 7px;
    background-color: var(--PRIMARYalpha);
    border: 1px var(--SECONDARY) solid;
}

.particle-container{
    display: grid;
    grid-template-columns: repeat(3, 375px);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 20px;
}

main{
    border: 2px var(--SECONDARY) solid;
    background-color: var(--PRIMARYalpha);
    min-height: 100px;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

main table{
    position: relative;
    margin: 0;
}

.particle-area{
    float: left;
    width: min-content;
    height: min-content;
    padding: 12px 6px 0px 12px;
}

main td:not(:empty), main th:not(:empty){
    background-color: rgba(0, 0, 0, 0) ;
}

main p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 12px;
    font-size: 15pt;
    font-family: "ＭＳ Ｐゴシック";
    color: var(--SECONDARY);
    word-break: keep-all;
    text-align:justify;
}

.hiragana, .katakana{
    position: relative;
    margin-bottom: 60px;
}

@media (pointer:coarse) {
    html{
        zoom:25%;
    }
    body{
        background-image:url("background/konbiniMobile.png"), linear-gradient(var(--PRIMARY) 0 100%);
        background-position: center;
    }
    #side-menu-button{
        font-size: 100pt;
        padding: 25px;
        padding-left: 60px;
    }

    #side-menu{
        padding-top: 275px;
        height: 110%;
        padding-left: 40px;
    }

    #side-menu-text{
        padding-bottom: 300vh;
    }

    .menu-option{
        margin-bottom: 20px;
        padding:5px;
    }
    .type0{
        position: relative;
        height: 1px;
        padding: 0;
        background-color: var(--SECONDARY);
        margin-top: 30px;
        margin-bottom: 30px;
        width:650px;
    }
    .type-function{
        font-size: 2.5em;
    }

    .type1{
        font-size: 3.0em;
        padding-right: 60px;
    }
    .type2{
        font-size: 1.8em;
        padding-right: 60px;
    }

    .menu-option:hover{
        padding-left:60px;
    }
    .type0:hover{
        padding-left:0px;
    }
    .type-function:hover{
        padding-left: 5px;
    }

    .center{
        margin-top: calc(22vw + 200px);
        margin-bottom: calc(22vw + 1800px);
    }

    table .ja-screen{
        font-size: 32pt;
        --width: 55px;
        min-width: var(--width);
        line-height: var(--width);
        padding: 12px;
        border-radius: 2px;

    }

    .ja-popup{
        border: 2px var(--SECONDARY) solid;
        border-radius: 2px;
        padding: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        aspect-ratio: none;
        line-height: 100%;
        z-index: 100;
        
    }
    h1 .ja-popup{
        top: -62px;
        font-size: 40pt;
        padding: 10px;
        padding-top:15px;
        padding-bottom: 15px;
    }
    h2 .ja-popup{
        top: -42px;
        font-size: 28pt;
        padding: 8px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    h3 .ja-popup{
        top: -36px;
        font-size: 22.5pt;
        padding: 10px;
        padding-left: 12px;
        padding-right: 12px;
    }
    table .ja-popup{
        top:-32px;
        padding-top:8px;
        padding-bottom: 8px;
        font-size: 21pt;
    }

    table {
        border-collapse: separate;
        margin-bottom: 50px;
    }

    td:not(:empty), th:not(:empty){
        border: 3px var(--SECONDARY) solid ;
        color: var(--SECONDARY);
        background-color: var(--PRIMARY);
    }

    .particle-container{
        margin-top: 8px;
        grid-template-columns: repeat(3, 435px);
        column-gap: 25px;
        row-gap: 25px;
    }

    .hint-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .hint-text{
        padding:0;
        font-size: 15pt;
        font-weight: 1000;
        border: 4px var(--SECONDARY) solid;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    }

    .hiragana, .katakana{
        margin-bottom: 150px;
    }

    h1{
        font-size: 70pt;
    }
    #intro-text-title{
        font-size: 45pt;
        padding-top: 30px;
        font-weight: 500;
    }
    #intro-text-title .ja-screen{
        border-radius: 2px;
        padding-left: 8px;
        padding-right: 8px;
    }
    #intro-text{
        width: 1300px;
        text-align: justify;
        padding: 8px;
        font-size:22pt;
        font-weight: 400;
        letter-spacing: -4px;
    }
    .space{
        height: 15px;
    }

    h2{
        margin-top: 50px;
        font-size: 50pt;
        margin-bottom: 5px;
    }
    h3{
        font-size: 35pt;
        padding-top: 30px;
    }

    .descriptor{
        font-size: 20pt;
        width:1210px;
        padding: 10px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        border: 3px var(--SECONDARY) solid;
    }

    .particle-area {
        padding: 12px 12px 0px 12px;
    }

    .particle-area table .ja-screen {
        font-size: 32pt;
        --width: 55px;
        min-width: var(--width);
        line-height: var(--width);
        padding: 15px;
        margin:-2px;
        border-radius: 2px;
    }

    main{
        border: 3px var(--SECONDARY) solid !important;
        min-height: 115px;
    }

    main p{
        font-size: 15pt;
        line-height: 100%;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }

}